# Data (ignore actual files, keep instructions)
data/raw/*
data/processed/*
!data/raw/README.md
!data/processed/README.md

# Python
venv/
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
