# Raw data
data/raw/*
!data/raw/README.md

# Processed data (large files excluded)
processed/*
!processed/README.md

# Python
venv/
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# Environment & logs
.env
*.log

# OS
.DS_Store
Thumbs.db
